body {
    background: #020024;
    background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
    );
    min-height: 100vh;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    height: 60vh;
    width: 450px;
    background-color: #000000;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 0 10px 30px rgb(4, 0, 255);
}

h1{
    color: #ffffff;
    text-align: center;
}

h3{
    color: #fdfdfd;
    font-weight:400;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 15px;
    text-align:center;
}

.card {
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #ffffff;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0)
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 5px 0;
    color: rgb(255, 255, 255)
}

input, select{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}

hr{
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px 0;
}
.card{
    background-color: rgb(46, 44, 44);
    
}